@import "animations", "gradients", "shadows";

.mainScreen__welcome {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    .mainScreen__header {
        text-align: center;
        font-weight: bolder;
        font-family: 'Coiny', cursive;
        font-size: 140px;
        color: #f4f400;
        @include gradient-mainScreen__header;
        @include shadow-mainScreen__circle;
    }
    .mainScreen__circleContainer{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        .mainScreen__circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 20px 0 20px;
            border: 1px solid #aaa;
            
        }
    }
    .mainScreen__shadowContainer{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        .mainScreen__shadows--even{
            width: 70px;
            height: 10px;
            border-radius: 50%;
            margin: 1px 35px 0 35px;
            background-color: #000;
            opacity: 0.5;
            @include anima-shakeHorizontal;
        }
        .mainScreen__shadows--odd{
            @extend .mainScreen__shadows--even;
            @include anima-shakeHorizontal--odd;
        }
    }
 }

.even {
    @include gradient-mainScreen__circle;
    @include anima-shakeHorizontal;
}
.odd{
    @include gradient-odd;
    @include anima-shakeHorizontal--odd;
 }





//  @media screen and (max-width : 660px) { 
 
// }