@import "gradients", "mixins";

.mainScreen__instruction { 
    display: none;
    @include mainScreenLook;
    .mainScreen__smallHeader { 
        font-size: 40px;
        @include header;
    }
    .mainScreen__display { 
        display: flex;
        margin: 0 auto;
        width: 70%;
        height: 50%;
        border: 1px solid #000;
        margin-bottom: 20px;
        @include shadow-mainScreen__circle;
        .mainScreen__draw {
            display: none;
         }
    }

    .mainScreen__btnContainer {
        display: flex;
        justify-content: space-around;
        .switch { 
            width: 80px;
            height: 80px;
            @include btn;
        }
    }
}

@media screen and (max-width : 850px) { 
    .mainScreen__instruction { 
        .mainScreen__smallHeader { 
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 5px;
        }
        .mainScreen__display { 
            width: 90%;
            height: 70%;
            margin-bottom: 0;
            .mainScreen__draw {
                display: none;
             }
        }
        .mainScreen__btnContainer {
            .switch { 
                width: 60px;
                height: 60px;
            }
        }
    }
}