@import "gradients", "shadows";

@mixin mainScreenLook {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin header {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-family: 'Coiny', cursive;
    color: #f4f400;
    @include gradient-mainScreen__header;
    @include shadow-mainScreen__circle;
}

@mixin btn {
    color: #f4f400;
    font-family: 'Coiny', cursive;
    border-radius: 50%;
    @include gradient-mainScreen__circle;
    margin: 10px;
}