@import "gradients", "mainScreenWelcome", "mainScreenPlayers", "mainScreenInstruction";

html, body, .mainScreen {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color : #f6f6b2;
}
.header__title {
    padding: 1px;
    margin: 0;
    font-weight: bolder;
    font-family: 'Coiny', cursive;
    font-size: 40px;
}

.mainScreen {
    @include gradient-mainScreen;
 }
.mainScreen__container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.gameScreen {
    display: none;
}
