html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color : #f6f6b2;
    border-bottom: dotted #a3a3a3;
}
.header__title {
    padding: 1px;
    margin: 0;
    font-weight: bolder;
    font-family: 'Coiny', cursive;
    font-size: 40px;
}

.mainScreen__welcome {
    display: block;
    background-color: #008000;
    height: 100vh;
}

.mainScreen__canvasContainer {
    display: none;
}